<%- include('partials/header') %>



<div class="container">
    <div class="imgcontainer">
    </div>
    <h1>Welcome to my authentication website</h1>
    <p>Please select an option to proceed</p>
    <a href="/register"><button role="button" role="button">Register</button></a>
    <a href="/login"><button role="button" role="button">Login</button></a>

    <%- include('partials/footer') %>