<%- include('partials/header') %>

<div class="container">
    <div class="imgcontainer">
    </div>
    <h1>Welcome to our Website</h1>
    <p>Please select an option to proceed</p>
    <a href="/logout" role="button"><button>Logout</button></a>
    <a href="/submit" role="button"><button>Submit</button></a>
</div>

<%- include('partials/footer') %>